{% extends 'base.html' %}
{% block content %}

<h1>Learning Page</h1>

<h2>Topics</h2>

    <a href="/view"><button type='button' id='Topic1'>(1)Amelia Earhart</button></a>
    <a href="/view"><button type='button' id='Topic2'>(2)Titanic</button></a>
    <a href="/view"><button type='button' id='Topic3'>(3)JFK Assasination</button></a>
    <a href="/view"><button type='button' id='Topic4'>(4)Martin Luther King Jr.</button></a>
    <a href="/view"><button type='button' id='Topic5'>(5)Helen Keller</button></a>
    <a href="/view"><button type='button' id='Topic6'>(6)Woodstock</button></a>
    <a href="/view"><button type='button' id='Topic1'>(7)Hindenburg</button></a>
    <a href="/view"><button type='button' id='Topic1'>(8)</button></a>
    <a href="/view"><button type='button' id='Topic1'>(9)</button></a>
    <a href="/view"><button type='button' id='Topic1'>(10)</button></a>
    



{% endblock %}.