{% extends 'base.html' %}
{% block content %}

<h1>Learning Page</h1>

<h2>Topics</h2>

    <a href="/view/1"><button type='button' name='Topic1'>Amelia Earhart</button></a>
    <a href="/view/2"><button type='button' name='Topic2'>Titanic</button></a>
    <a href="/view/3"><button type='button' name='Topic1'>Martin Luther King Jr.</button></a>
    <a href="/view/4"><button type='button' name='Topic1'>JFK Assassination</button></a>
    <a href="/view/5"><button type='button' name='Topic1'>Hindenburg</button></a>
    
    



{% endblock %}.