{% extends 'base.html' %}
{% block content %}

    <h2>New User Information</h2>
    <h3 id="invalid user name/password"></h3>
    <form action='/new_user_submit'>
      <label>First Name: </label>
      <input type='text' name='first_name' id='first_name'>
      <br>
      <label>Last Name: </label>
      <input type='text' name='last_name' id='last_name'>
      <br>
      <label>Enter Username: </label>
      <input type='text' name='user_name' id='user_name'>
      <!--creates a span to dump the ajax result-->
      <span id='user_result'></span>
      <br>
      <label>Password: </label>
      <input type='text' name='password' id='password'>
      <br>
      <input type='submit'>


      <script>
      $('#user_name').change(function(){
          //user types username on inputfiled
          var username ={'user_name': $(this).val()};
          //get the string typed by user
          $.post('/check_user_name', username, function(data) { 
                //make ajax call to check_username.php
                $("#user_result").html(data); //dump the data received from PHP page
          });
      });

      </script>
    </form>

{% endblock %}
    </form>
