{% extends 'base.html' %}
{% block content %}

<h1>View Page</h1>

<div class="video_wrapper" id='vph'>
        <!--Creates buttons with video thumbnails on them-->
        <img id='button' src='http://img.youtube.com/vi/{{youtube_key}}/hqdefault.jpg'/>

</div >
<container>
    <h1 id='wiki_title'>{{wiki_title|safe}}</h1>
    <div id='wiki'>{{wiki_data|safe}}</div>
</container>    

<script>
var embedVid = '<iframe width="560" height="315" src="https://www.youtube.com/embed/{{youtube_key}}?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>'

$('#button').on("click", function(evt) {
        evt.preventDefault();
        $("#vph").html(embedVid);
});



</script>

<script>



</script>

    

{% endblock %}